<mat-toolbar>
  <a mat-button routerLink="/" class="logo">
    <mat-icon matSuffix>monochrome_photos</mat-icon>
    <span>InstaApp</span>
  </a>

  <div *ngIf="user$ | async as user" class="actions">
    <button mat-button color="primary" routerLink="/posts">
      <span class="button-text">Add Post</span>
      <mat-icon matSuffix>add_a_photo</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="button-text">{{user?.username}}</span>
      <mat-icon matSuffix>person</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
