@import '../../styles/content';

:host {
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .logo {
    font-size: 18px;
  }

  .actions {
    margin: 0 0 0 auto;
  }

  mat-toolbar {
    height: $header-height;
  }

  @media (max-width: $mobile-breakpoint) {
    .logo {
      font-size: 14px;
    }

    .button-text {
      display: none;
    }

    mat-toolbar {
      padding: 0 5px;
    }
  }
}
