@import '../../styles/content';

:host {
  box-sizing: border-box;
  display: block;
  padding: 10px;

  mat-card {
    box-sizing: border-box;
    max-width: $post-width;
  }

  .image-area {
    display: block;
    margin-bottom: 0;
    max-height: 300px;
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }

  .loading {
    margin: 0 auto;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
