<mat-card>
  <mat-card-header>
    <mat-card-title>{{post?.owner}}</mat-card-title>
    <mat-card-subtitle>{{post?.created | timeAgo}}</mat-card-subtitle>
  </mat-card-header>

  <app-image-area *ngIf="post?.imageUrl; else loading" mat-card-image [tooltips]="post?.tooltips" class="image-area">
    <img [src]="post?.imageUrl" alt="Your post image">
  </app-image-area>

  <mat-card-actions *ngIf="editable && post?.id" class="actions">
    <button mat-icon-button matTooltip="Edit" (click)="edit.emit(post?.id)">
      <mat-icon matSuffix>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete" (click)="delete.emit(post?.id)">
      <mat-icon matSuffix>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
