<section>
  <mat-card class="container">
    <mat-card-title>{{auth}}</mat-card-title>

    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting">
        <mat-form-field>
          <input matInput
                 required
                 formControlName="username"
                 placeholder="Username">
        </mat-form-field>

        <ng-container *ngIf="authType === AuthType.SIGNUP">
          <mat-form-field>
            <input matInput
                   required
                   formControlName="email"
                   placeholder="Email"
                   type="email">
          </mat-form-field>
        </ng-container>

        <mat-form-field>
          <input matInput
                 required
                 formControlName="password"
                 placeholder="Password"
                 [type]="hidePassword ? 'password' : 'text'">

          <mat-icon class="password-visibility-icon"
                    matSuffix
                    (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </fieldset>

      <button mat-raised-button
              color="primary"
              [disabled]="!authForm.valid"
              type="submit">
        {{auth}}
      </button>
    </form>
  </mat-card>

  <mat-card class="container">
    <ng-container *ngIf="authType === AuthType.SIGNUP; else subContainerlogin">
      Have an account? <a routerLink="/auth">{{loginText}}</a>
    </ng-container>

    <ng-template #subContainerlogin>
      Don't have an account? <a routerLink="signup">{{signUpText}}</a>
    </ng-template>
  </mat-card>
</section>
