@import '../../shared/styles/content';

$container-width: 480px;

:host {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 20px;

  section {
    min-width: $container-width;
  }

  .container {
    box-sizing: border-box;
    margin: 0 0 20px;
    max-width: $container-width;
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  mat-form-field {
    display: block;
  }

  .password-visibility-icon {
    @extend %disable-user-select;
    cursor: pointer;
  }
}
