<div class="inner">
  <app-post *ngFor="let post of posts$ | async"
            [post]="post"
            [editable]="(user$ | async)?.username === post?.owner"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)">
  </app-post>
</div>
