<h2>{{editing ? 'Edit' : 'New'}} Post</h2>

<mat-horizontal-stepper [linear]="true" #stepper class="mat-elevation-z2">

  <mat-step [stepControl]="fileUploadFormGroup">
    <form [formGroup]="fileUploadFormGroup" novalidate>
      <ng-template matStepLabel>Image</ng-template>

      <app-image-area *ngIf="imageUrlControl.value" mat-card-image class="image-area">
        <img [src]="imageUrlControl.value" [alt]="imageAlt">
      </app-image-area>

      <input formControlName="imageUrl" hidden type="hidden">

      <div class="editor">
        <div class="file-upload">
          <button mat-button
                  [color]="!imageUrlControl.value ? 'warn' : ''"
                  (click)="fileInput.click()">
            <mat-icon matSuffix>cloud_upload</mat-icon>
            {{!imageUrlControl.value ? 'Choose' : 'Change'}} Image
            <input #fileInput
                   hidden
                   type="file"
                   accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
                   (change)="onFileChange($event?.target?.files)"/>
          </button>

          <div *ngIf="uploading" class="uploading">
            <div class="progress">{{uploadingProgress}}%</div>
            <mat-progress-bar color="primary"
                              mode="determinate"
                              [value]="uploadingProgress">
            </mat-progress-bar>
          </div>
        </div>
      </div>

      <div class="stepper-buttons">
        <button mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="!fileUploadFormGroup.valid">
          Next
        </button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="tooltipFormGroup" optional>
    <form [formGroup]="tooltipFormGroup" novalidate>
      <ng-template matStepLabel>Tooltip</ng-template>

      <app-image-area *ngIf="imageUrlControl.value"
                      formControlName="tooltips"
                      [editable]="true"
                      appTooltipAreaValueAccessor
                      mat-card-image>
        <img [src]="imageUrlControl.value" [alt]="imageAlt">
      </app-image-area>

      <div class="editor">
        <div class="tooltips-actions">
          <button mat-button (click)="onAddTooltip()">
            <mat-icon matSuffix>label</mat-icon>
            Add Tooltip
          </button>
        </div>

        <div class="tooltips-list">
          <mat-form-field *ngFor="let tooltip of tooltipsControl.value; index as i" class="tooltips-list-item">
            <input matInput
                   type="text"
                   placeholder="Tooltip #{{i+1}}"
                   autocomplete="off"
                   readonly
                   [value]="tooltip.text">

            <button mat-button
                    matSuffix
                    mat-icon-button
                    matTooltip="Remove Tooltip"
                    (click)="onRemoveTooltip(tooltip)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="stepper-buttons">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Preview</ng-template>

    <app-post [post]="postPreview"></app-post>

    <div class="stepper-buttons">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">{{editing ? 'Update' : 'Share'}}</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>

<ng-template #addTooltipDialog>
  <h2 mat-dialog-title>Add tooltip</h2>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput required placeholder="Tooltip text" autocomplete="off" [(ngModel)]="dialogData.text">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="!dialogData.text.trim()" [mat-dialog-close]="dialogData">Add</button>
  </mat-dialog-actions>
</ng-template>
