@import '../../shared/styles/content';

:host {
  align-self: center;
  box-sizing: border-box;
  padding: 10px;

  .file-upload {
    display: flex;

    .uploading {
      flex-grow: 1;
      padding: 0 20px;
    }

    .progress {
      padding: 0 0 5px;
      text-align: center;
    }
  }

  app-image-area {
    margin: 0 auto;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .stepper-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0;

    button {
      margin: 0 10px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .editor {
    margin: 10px auto 0;
    max-width: $post-width;
  }

  .tooltips-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto 0;
  }

  @media (max-width: $mobile-breakpoint) {
    mat-horizontal-stepper {
      /deep/ .mat-horizontal-stepper-header-container {
        flex-direction: column;
      }
    }
  }
}
