@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$background-color: #fafafa;

$scrollbar-thickness: 2px;
$scrollbar-thickness-hovered: 5px;
$scrollbar-thumb-color: #b0b2b6;
$scrollbar-thumb-color-hover: #505c6d;
$scrollbar-indent: 3px;

html,
body {
  min-width: 320px;
}

body {
  background: $background-color;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  &::-webkit-scrollbar {
    background-color: transparent;

    &:vertical {
      width: $scrollbar-thickness-hovered;
    }

    &:horizontal {
      height: $scrollbar-thickness-hovered;
    }
  }

  &::-webkit-scrollbar-button {
    &:vertical {
      &:start {
        &:decrement {
          height: $scrollbar-indent;
        }

        &:increment {
          display: none;
        }
      }

      &:end {
        &:decrement {
          display: none;
        }

        &:increment {
          height: $scrollbar-indent;
        }
      }
    }

    &:horizontal {
      &:start {
        &:decrement {
          width: $scrollbar-indent;
        }

        &:increment {
          display: none;
        }
      }

      &:end {
        &:decrement {
          display: none;
        }

        &:increment {
          width: $scrollbar-indent;
        }
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: solid $scrollbar-thumb-color;
    border-width: 0 0 0 $scrollbar-thickness;

    &:vertical {
      border-width: 0 0 0 $scrollbar-thickness;
    }

    &:horizontal {
      border-width: $scrollbar-thickness 0 0;
    }

    &:hover {
      border-color: $scrollbar-thumb-color-hover;

      &:vertical {
        border-radius: $scrollbar-thickness-hovered / 2;
        border-width: 0 0 0 $scrollbar-thickness-hovered;
      }

      &:horizontal {
        border-radius: $scrollbar-thickness-hovered / 2;
        border-width: $scrollbar-thickness-hovered 0 0;
      }
    }
  }
}
