<div *ngIf="editable; else static" [appTooltipArea]="tooltips" (change)="onChange($event)"  class="area">
  <div *ngFor="let tooltip of tooltips"
       [style.left.%]="tooltip.x"
       [style.top.%]="tooltip.y"
       appDraggable
       class="tooltip draggable">
    {{tooltip.text}}
  </div>
</div>

<ng-content></ng-content>

<ng-template #static>
  <div class="area">
    <div *ngFor="let tooltip of tooltips"
         [style.left.%]="tooltip.x"
         [style.top.%]="tooltip.y"
         class="tooltip">
      {{tooltip.text}}
    </div>

    <button *ngIf="tooltips?.length"
            color
            mat-mini-fab
            matTooltip="{{showTooltips ? 'Hide' : 'Show' }} Tooltips"
            class="show-tooltips-button"
            (click)="showTooltips = !showTooltips">
      <mat-icon>label</mat-icon>
    </button>
  </div>
</ng-template>
