@import '../../styles/content';

$tooltip-text-color: #fff;
$tooltip-background-color: rgba(97, 97, 97, .9);
$transition-opacity: opacity .3s ease-out;

:host {
  display: block;
  max-width: $post-width;
  position: relative;

  &.show-tooltips .tooltip {
    opacity: 1;
  }

  .area {
    height: 100%;
    position: absolute;
    width: 100%;

    &:hover .show-tooltips-button {
      opacity: 1;
      transition: $transition-opacity;
    }
  }

  .tooltip {
    @extend %disable-user-select;
    background: $tooltip-background-color;
    border-radius: 2px;
    color: $tooltip-text-color;
    cursor: default;
    display: inline-block;
    font-size: 10px;
    max-width: 250px;
    opacity: 0;
    overflow: hidden;
    padding: 6px 8px;
    position: absolute;
    text-overflow: ellipsis;
    transition: $transition-opacity;
    z-index: 10;

    &.draggable {
      @extend %draggable;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      transition: $transition-opacity;
    }
  }

  .show-tooltips-button {
    bottom: 5px;
    left: 5px;
    opacity: 0;
    position: absolute;
    transition: $transition-opacity;
  }
}
